@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Rufina:wght@400;700&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Noto Sans KR", "Rufina", "sans-serif";
}
body {
  overflow-x: hidden;
}
